extends ./experiment-layout.jade

block title
  h3 Image Analogies
  p The Image Analogies project by @awentzonline allows you to change the shape or swap parts of images.
  p In this test of the Superhero.TF platform, you can rearrange elements of an image.
  p
    span You can create a custom request or&nbsp;
    a.btn.btn-success.test-case(href='#') Test Case A
    span .

block visibleform
  .col-sm-4
    h4 Original image
    small Select the original image by uploading a file or dropping it into the browser
    br
    br
    input.submit-original(type='file')
    br
    br
    img.original

  .col-sm-4
    h4 Define regions of the image
    p Paint over sections of the image which will be rearranged in the final product.
    br
    .colorable.well
      .color-palette
      img.original
      canvas#old-mask(width='320' height='462')

  .col-sm-4
    h4 Output regions
    strong Paint new regions
    button#copy-masks.btn.btn-default Start from original
    br
    br
    br
    .colorable.well
      .color-palette
      canvas#new-mask(width='320' height='462')
        
block hiddenform
  input(type='hidden', name='_csrf', value=csrfToken)
  input(type='hidden', name='original')
  input(type='hidden', name='mask')
  input(type='hidden', name='new-mask')

block scripts
    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/analogy.js')