extends ./experiment-layout.jade

block title
  h3 Image Analogies
  p The Image Analogies project by @awentzonline allows you to change the shape or swap parts of images.
  p In this test of the Superhero.TF platform, you can blend your face with a monster image.

block visibleform
  .col-sm-4
    h4 Original image
    small Select the original image by uploading a file, dropping it into the browser, or taking a photo!
    input.submit-original(type='file')
    br
    img.original
    br
    #photobooth Click for camera

  .col-sm-4
    h4 Target face
    strong This is what you're being blended with!
    p Select a file
    input.submit-target(type='file')
    br
    br
    img.target(src='/img/sugarskull-Ap.jpg')
        
  .col-sm-4
    h4 Blurred image
    p This helps create the new image
    canvas#blurring(width='320' height='462')
    strong Adjust level of blur
    br
    input#blurrer(type='range')
        
block hiddenform
  input(type='hidden', name='_csrf', value=csrfToken)
  input(type='hidden', name='experiment', value='anyface')
  input(type='hidden', name='original')
  input(type='hidden', name='target')
  input(type='hidden', name='blurred')
      
block scripts
  script(src='/js/lib/jquery-3.1.1.min.js')
  script(src='/js/lib/photobooth_min.js')

  script(src='/js/lib/pixastic.js')
  script(src='/js/lib/pixastic.effects.js')
  script(src='/js/lib/pixastic.worker.js')
    
  script(src='/js/anyface.js')
