doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Superhero.TF - TensorFlow for all
    link(rel='stylesheet', href='/css/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      .row
        .col-sm-2
        .col-sm-8
          .jumbotron
            h1.center Superhero.TF
            h2
              span Ordinary Machines
              small &nbsp;&nbsp;with
              .clearfix
              br
              .clearfix
              span.pull-right
                em Extraordinary
                span &nbsp;Abilities
            .clearfix
            
      .row
        .col-sm-6
          .bubble
            h3 These computers can learn
            p
              span Using a deep learning system named '
              a(href='https://en.wikipedia.org/wiki/TensorFlow') TensorFlow
              span ' computers learn new abilities, but they will only learn what they are taught.
            p
              span Computers are making advances in math and linguistics, artistic tricks and effects, and strategy games.
              span The New York Times calls it&nbsp;
              a(href='http://www.nytimes.com/2016/12/14/magazine/the-great-ai-awakening.html') 'The Great AI Awakening'
            p The biggest obstacle is that only a few experts have had access to the machines.

        .col-sm-6
          .bubble
            h3 Command and control in your pocket
            p Try out your own photos and experiments now:
            a.btn.btn-primary(href='/experiments/monster') Monster
            span &nbsp; &nbsp;
            a.btn.btn-primary(href='/experiments/analogy') Landscape
            span &nbsp; &nbsp;
            a.btn.btn-primary(href='/experiments/anyface') More Faces
            span &nbsp; &nbsp;
            a.btn.btn-primary(href='/experiments/shakespeare') Shakespeare
            br
            br
            p Superhero is built on TensorFlow, the product of many computer scientists and experts.

      .row
        .col-sm-6
          .bubble
            h3 Madcap Computing
            p Not every high-tech program needs to be serious. It took the iPod and video games to pave the way for smartphones and GPUs.
            p We gain a lot (and have fun) by bending advanced technology to artistic and eccentric applications.
            a(href='/experiments/monster')
              img(src='/img/faces.jpg', alt='Making a persons face look like a zombie using TensorFlow')
              br
              small Monster Experiment
            hr
            p
              span Over time, I plan to make many of the projects from&nbsp;
              a(href='https://github.com/jtoy/awesome-tensorflow') awesome-tensorflow
              span &nbsp;list available to the public. If you're a researcher with a cool project of your own, please reach out!

        .col-sm-6
          .bubble
            h3 This is about human learning
            p
              span Machine learning experts&nbsp;
              a(href='http://www.commerce.senate.gov/public/index.cfm/2016/11/commerce-announces-first-artificial-intelligence-hearing') told Congress
              span &nbsp;that one of the biggest challenges in AI / machine learning / deep learning research is diversity. It's difficult for anyone to make things in this space if you're a student, independent researcher, or hobbyist without deep pockets.
            p Here's how we fix it: we make the most powerful technology available to everyone.
            img.half(src='/img/superhero.jpg')
      hr
      .row
        .col-sm-12
          .bubble
            p
              span This website is not affiliated with Google or the TensorFlow team. Project by&nbsp;
              a(href='https://twitter.com/mapmeld') Nick Doiron
              span .
            p
              span You can help Superhero.TF reach more people by sending $ on GoFundMe.
      br
      br
      //
        small cartoon superhero image CC-BY-SA Aaron Bauer
