extends ./experiment-layout.jade

block title
  h3 Image Analogies
  p The Image Analogies project by @awentzonline allows you to change the shape or swap parts of images.
  p In this test of the Superhero.TF platform, you can blend your face with a monster image.

block visibleform
  .col-sm-8
    h4 Original image
    p Select the original image by uploading a file, dropping it into the browser, or taking a photo!
    br
    input.submit-original(type='file')
    br
    img.original
    br
    #photobooth Click for camera


  .col-sm-4
    h4 Target Face
    p This is what you're being blended with!
    br
    img.target(src='/img/monster-Ap.jpg')
        
block hiddenform          
  input(type='hidden', name='_csrf', value=csrfToken)
  input(type='hidden', name='experiment', value='monster')
  input(type='hidden', name='original')
      
block scripts
  script(src='/js/lib/jquery-3.1.1.min.js')
  script(src='/js/lib/photobooth_min.js')
  script(src='/js/faces.js')
